# Virtual Environment
venv/
env/
ENV/
.venv

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Django
db.sqlite3
*.sqlite
*.sqlite3
*.log
local_settings.py

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
.env

# Project specific
media/
staticfiles/
